body {
	padding: 0;
	margin:0;
	background: #f5f5f5;
	font-family: 'Roboto', 'Arial', sans-serif;
}

h1 {}

h2 {}

h3 {
	font-weight: bold;
	color: #444444;
}

h4 {
	font-weight: bold;
	color: #999999;
}

p {
	font-size: 17px;
	margin: 10px 0;
}

#header_search {
	background: url(../images/landing_bg.jpg);
	background-size: cover;
	background-position: center top;
	min-height: 650px;
	margin-bottom: -200px;
	color: #ffffff;
}

#logo {
	width: 100%;
	text-align: center;
	margin: 80px 0;
	display: inline-block;
}

#logo img {
	display: inline-block;
	width: 80%;
	max-width: 400px;
}

#products {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
}

.prod_box {
	background: #ffffff;
	margin: 15px;
	width: 50%;
	max-width: 300px;
	padding: 0 30px;
	border-radius: 4px;
}

.prod_img {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
    padding: 30px;
    height: 300px;
}

.prod_img img {
	max-height: 100%;
	width: auto;
	max-width: 100%;
}

.prod_placeholder .prod_img {
	background: #f7f7f7;
}

.products_returned .prod_placeholder {
	display: none;
}

.prod_box h3 {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    min-height: 2.33em;
    max-height: 2.33em;
}

.prod_bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.view_more_btn {
    color: #88afe0;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
}

#category_selection {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.cat_option {
	background: #ffffff;
	color: #333333;
	padding: 0px 20px;
	margin:7px;
	border-radius: 30px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.header_text {
	width: 100%;
	text-align: center;
}

#products.cat_elec .jewelery, #products.cat_elec .men_clothing, #products.cat_elec .women_clothing {
	display: none;
}

#products.cat_jewe .electronics, #products.cat_jewe .men_clothing, #products.cat_jewe .women_clothing {
	display: none;
}

#products.cat_mecl .electronics, #products.cat_mecl .jewelery, #products.cat_mecl .women_clothing {
	display: none;
}

#products.cat_wocl .electronics, #products.cat_wocl .jewelery, #products.cat_wocl .men_clothing {
	display: none;
}

#products.moreInfo #more_info_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.33);
	justify-content: center;
	align-items: center;
}

#products.moreInfo #more_info_container {
	display: flex;
}

#more_info_box {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 15px;
	border-radius: 4px;
	background: white;
	margin:15px;
}

.more_info_exit {
	width: 100%;
	text-align: right;
}

.more_info_exit p {
	font-weight: bold;
	cursor: pointer;
	font-size: 24px;
}

.more_info_img {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 15px 15px 15px;
}

.more_info_img img {
    max-width: 400px;
    max-height: 400px;
}

.more_info_info {
	display: inline-block;
	max-width: 400px;
	box-sizing: border-box;
	padding: 15px;
}

@media screen and (max-width: 780px) {
	.more_info_img img {
	    max-width: 300px;
	    max-height: 300px;
	}
    .more_info_info {
    	max-width: unset;
    }
}

.fake_buy_btn {
	background:#88afe0;
	color: #ffffff;
	padding: 8px 20px;
	font-weight: bold;
	border-radius: 30px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: 30px;
}



#footer {
	background: #333333;
	width: 100%;
	padding: 50px 15px;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
}